@import url("fonts/stix-two-text/font.css");
@import url("fonts/latin-modern-mono/font.css");

:root {
	--font-family--body: "STIX Two Text";
	--font-family--heading: var(--font-family--body);
	--font-family--monospace: "Latin Modern Mono";
}

* {
	box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
}

body {
	font-family: var(--font-family--body);
	line-height: 1.5;

	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-family--heading);
	font-weight: normal;
	break-after: avoid-page;
	page-break-after: avoid;
	break-inside: avoid;
  page-break-inside: avoid;
	margin-block-start: 1em;
	margin-block-end: 0;
}

h2, h3, h4, h5, h6 {
	font-weight: 500;
}

h3, h4, h5, h6 {
	font-size: 12pt;
}

h1 {
	font-size: 16pt;
	font-weight: bold;
}

h2 {
	font-size: 14pt;
}

h4 {
	font-style: italic;
}

p {
	text-align: justify;
	font-size: 12pt;
	margin-block: 0;
	text-indent: 1cm;
}

p.footnote {
	font-size: 14px;
	text-indent: 0;
	margin-block: 1em;
}
p.footnote::before {
	content: "";
	display: block;
	width: 25%;
	height: 0px;
	border-bottom: 1px solid currentcolor;
}

img {
	max-width: 100%;
}

ol, ul {
	padding-inline-start: 1cm;
	margin-block: 0;
}

pre {
	border: 1px solid currentcolor;
	padding: .25em .5em;
	line-height: 120%;
	tab-size: 4;
	margin-inline: 1px;
}

code {
	font-family: var(--font-family--monospace);
}

a {
	color: currentcolor;
}

mjx-container[display="true"] {
	margin: 0 !important;
	padding: 0 !important;
}

mjx-container[jax="SVG"] :is(use[data-c], path[data-c]) {
	stroke-width: 0 !important;
}

@media not print {
	:root {
		color-scheme: dark;
	}

	body {
		max-width: 564px;
		margin: auto;
		padding: 1em 2em;
	}

	h1 {
		margin-block-start: 1em;
	}

	pre {
		overflow: auto;
	}
}

@page {
	margin: 1in;

	font-family: var(--font-family--body);

	@bottom-right {
		content: "Halaman " counter(page) " dari " counter(pages);
		border-top: 1px solid currentcolor;
		height: fit-content;
		margin-top: 1em;
	}
}